.button {
  background-color: white;
  color: #3ecf8e;
  padding: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 14px rgba(0,0,0,.35), 0 1px 3px rgba(0,0,0,.08);
  text-transform: uppercase;
  -webkit-transition: 175ms ease-in-out;
  transition: 175ms ease-in-out;
}

.button:hover, .button:active {
  box-shadow: 0 10px 18px rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.08);
}
